#menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {

	margin-left: 15%;
	margin-right: 15%;

}

.container2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

#fale {
	text-align: center;
	align-items: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #222;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	transition: all 0.3s ease;
}

nav a:hover {
	color: #f1c40f;
}

h2,
p {
	text-align: left;
	margin-bottom: 5px;
	padding: 0;
}

p {
	font-size: 15px;
	color: #777;
}

input {

	height: 18px;
}

.footer {
	display: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}