body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #444444;
    padding: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

#images{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    align-items:center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card:nth-child(even) {
    flex-direction: row-reverse;
}

.card img {
    margin-right: 20px;
    max-width: 300px;
    height: auto;
}

.card h2 {
    margin-top: 0;
}

.footer {
    background-color: #444444;
    padding: 20px;
    color: #ffffff;
    display: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #f1c40f;
}


#titulo{
    color: black;
}